.gab-post {
	margin: 1em;
	padding: 1em;
	border-radius: 1em;
	min-height: 100px;

	color: white;

	background-color: #46bb7c;
}

.gab-post .gab-post-main img {
	width: 70px;
	height: 70px;
	background: white;
	border-radius: 50%;
	float: left;
	margin: 0 1em 1em 1em;
}

.gab-post .gab-post-title {
	display: inline-block;

	margin-left: auto;
	margin-right: auto;

	width: 100%;

	text-align: center;
	font-weight: bolder;
}

.gab-post .gab-post-title a {
	color: white;
}
